/* open-sans-regular - latin (meaning, it's "regular" version of the font for "Latin"-based language) */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400; 
  /* 400 is normal. For bold, higher number like 700 */
  font-display: swap;
  /* This specifies how the font should be displayed while it's loading. This ensures the text is visible even if the custom font isn't immediately available. */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
  url('./fonts/open-sans-v17-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('./fonts/open-sans-v17-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
:root {
  --typography-default: 'Open Sans', sans-serif;
  /* This line defines a custom property (or CSS variable) named --typography__default. It sets the default font for the website to 'Open Sans' with a fallback to the generic sans-serif font in case 'Open Sans' is unavailable. */
}
body {
  margin: 60px auto;
  width: 70%;
}
nav ul, footer ul {
  padding: 0px;
  list-style: none;
  font-weight: bold;
  color: #3E8250;
}
nav ul li, footer ul li {
  display: inline;
  margin-right: 20px;
}
a {
  text-decoration: none;
  color: #3E8250;
}
a:hover {
  text-decoration: underline;
}
h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.4em;
}
h3 {
  font-size: 1.3em;
}
div ul {
  margin: 20px;
}
div ul li {
  list-style: none;
  font-size: 1.25em;
  line-height: 1.25em;
}
p {
  font-size: 1.25em;
  line-height: 1.25em;
}
footer {
  border-top: 1px solid #d5d5d5;
  font-size: .8em;
}
ul.posts { 
  margin: 20px auto 40px; 
  font-size: 1.25em;
}
ul.posts li {
  list-style: none;
}
#trendsGraph-container {
    height: 400px;
}
