<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
			<title>{{ page.title }}</title>
			<!-- for bootstrap collapse in visualizations page -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<style>
				/* Apply the color variables globally */
				:root {
					--foreground-color: #000;
					--background-color: #FFF;
					--link-color: #3E8250;
				}

				body {
					color: var(--foreground-color);
					background-color: var(--background-color);
				}

				a {
					color: var(--link-color);
				}

				a:hover {
					color: var(--link-color);
					text-decoration: underline;
				}

			</style>

			<script>
				// Function to get cookie value by name
				function getCookie(name) {
					let matches = document.cookie.match(new RegExp(
						"(?:^|; )" + name.replace(/([.$?*|{}()\[\]\/\\+^])/g, '\\$1') + "=([^;]*)"
					));
					return matches ? decodeURIComponent(matches[1]) : undefined;
				}
			
				// Apply saved colors on page load
				document.addEventListener('DOMContentLoaded', (event) => {
					const savedForeColor = getCookie('forecolor');
					const savedBackColor = getCookie('backcolor');
					const savedLinkColor = getCookie('linkcolor');
			
					if (savedForeColor) {
						document.documentElement.style.setProperty('--foreground-color', savedForeColor);
					}
			
					if (savedBackColor) {
						document.documentElement.style.setProperty('--background-color', savedBackColor);
					}
					
					if (savedLinkColor) {
						document.documentElement.style.setProperty('--link-color', savedLinkColor);
					}
										
				});
			</script>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
		        	<li><a href="/research">Research</a></li>
	        		<li><a href="/teaching">Teaching</a></li>
					<li><a href="/blog">Rambles</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:leeseolh@gmail.com">Email</a></li>
	        		<li><a href="https://github.com/lee-seolha">github.com/lee-seolha</a></li>
					<li><a href="/color-picker">Color Picker</a></li>
				</ul>
			</footer>
		</body>
	</html>
