<!DOCTYPE html>
<html lang="en">
    <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">  
            <meta name="description" content ="Home page"/>
            <link href="workshopExercise.css" rel="stylesheet" type="text/css">
            <title>Seolha Lee - CV</title>
    </head>
		<body>
			<nav>
	    		<ul>
              <li><a href="./index.html">Home</a></li>
              <li><a href="./Research.html">Research</a></li>
              <li><a href="./Teaching.html">Teaching</a></li>
              <li><a href="./About.html">About</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:leeseolh@gmail.com">email</a></li>
	        		<li><a href="https://github.com/lee-seolha">github.com/lee-seolha</a></li>
				</ul>
			</footer>
		</body>
	</html>
